<ion-header>
  <ion-toolbar>
    <ion-title>{{user.prenom}} {{user.nom}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="danger">
        <ion-icon name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="floating">Nom: </ion-label>
      <ion-input [(ngModel)]="user.nom" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Prenom: </ion-label>
      <ion-input [(ngModel)]="user.prenom" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numéro de téléphone: </ion-label>
      <ion-input [(ngModel)]="user.phone" type="number"></ion-input>
    </ion-item>

    <ion-button mode="ios" color="primary" expand="block" shape="round" (click)="updateUser()">Enregister</ion-button>
</ion-content>
