<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter Ma Voiture</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="danger">
        <ion-icon name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card mode="ios">
		<ion-item>
			<ion-label position="floating">Numéro Immatriculation:</ion-label>
			<ion-input type="text" [(ngModel)]="voiture.num"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Marque:</ion-label>
			<ion-input type="text" [(ngModel)]="voiture.marque"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Modèle:</ion-label>
			<ion-input type="text" [(ngModel)]="voiture.modele"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Couleur</ion-label>
			<ion-input type="text" [(ngModel)]="voiture.couleur"></ion-input>
		</ion-item>
		<ion-button expand="block" fill="outline" (click)="ajoutVoiture()">
			Enregistrer
		</ion-button>
	</ion-card>
</ion-content>
