ion-label,ion-item ion-label {
    font-family: auto;
    color:#092452;
    text-transform: capitalize;
    margin-left: 2%;
    
}
#title
{
    font-family: auto;
    color:   var(--ion-color-primary-shade);
}
.color_icon
{
  color: var(--ion-color-warning-shade);
}