h4
{
    color: var(--ion-color-warning);
}

h2
{
    color:#021e50;
}

h3
{
color: var(--ion-color-warning-shade);
}
p{
    color:var(--ion-color-warning-shade);
}
.card
{
    // width: 21.5em;
    // border-radius: -27%;
    // /* padding: 2em; */
    // margin: 0.5em;
    // box-shadow: 0.1em 0.1em 0.3em 0.1em #abb7b7;
    // /* padding-bottom: 0%; */
    // margin-bottom: 6%;
    // margin-top: 4%;
}
.titre
{
    color: var(--ion-color-primary);
}
#title
{

    color:   var(--ion-color-primary-shade);
}
ion-label{
}
